---
import { supabase } from "@/lib/supabase";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="User Dashboard">
  <div class="flex gap-3">
    <a href="/signin" class="text-blue-400 underline">Sign in </a>
    <a href="/register" class="text-blue-400 underline">Register </a>
  </div>
</MainLayout>
