---
import { SITE_DESCRIPTION, SITE_NAME } from "../utils/constants";

import { ViewTransitions } from "astro:transitions";
import "@/styles/global.css";

const { title } = Astro.props;

interface Props {
  title?: string;
}
---

<html lang="en" transition:animate="slide">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"
      integrity="sha512-BJ/5sR2hFxQTKin/55JQCcMTObShDBAmVjL/3NR/MVcrhyOazJjAgvROem03+HYyGw16SVdSfoWCFGr9syxAKA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      is:inline></script>
    <title>{title != null ? `${title} - ` : ""} {SITE_NAME}</title>
    <ViewTransitions />
  </head>
  <body
    class="flex items-center justify-center min-h-screen w-full bg-zinc-800"
  >
    <main
      class="w-full sm:w-[80%] h-[80vh] bg-white rounded-2xl p-5 grid sm:grid-cols-2 gap-0"
    >
      <div class="flex justify-center flex-col p-5">
        <slot />
      </div>
      <div class="sm:flex items-center justify-center hidden">
        <h3 class="whitespace-normal text-xl">
          Brocolli Dollar Protocol is a decentralized finance (DeFi) protocol
          that allows users to earn interest on their assets. It is a fork of
          the popular DeFi protocol Compound, with the added feature of a native
          governance token, $BRO. The protocol is designed to be
          community-driven, with decisions about the protocol's future made by
          $BRO holders.
        </h3>
      </div>
    </main>
  </body>
</html>
